<div ng-if="isIngestMode()"
     id="search-results"
     class="widget resizable-wrapper">
    <div class="results page-content-wrapper">
        <table style="width: 100%; height: 100%;">
            <tr ng-if="(ingestDataSummary.queryMode || ingestDataSummary.tableMode) && !isMobileView()" style="height: 0">
                <td class="editor-wrapper">
                    <div class="editor-block-wrapper">
                        <div class="editor-disabled" ng-click="openQueryEditor()" ng-if="!ingestDataSummary.queryMode"></div>
                        <query-editor></query-editor>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="position: relative">
                    <div class="table-disabled" ng-show="isTableDisabled" ng-click="enableTable()"></div>
                    <div style="overflow: hidden; position: relative; height: 100%; width: 100%">
                        <div class="loader backdrop-only" ng-show="inRequest">
                            <div class="loader-backdrop semi-transparent"></div>
                        </div>
                        <div class="loader backdrop-only" ng-show="sourceSuggestionActive || ingestCommitOptions.isFailed">
                            <div class="loader-backdrop semi-transparent"></div>
                        </div>
                        <sticky-note sn-class="'fields-sticky-note'"
                                     sn-template="/static/templates/include/popover/cant-detect-field-names.html"
                                     sn-open="cantDetectFieldNamesNote.opened"
                                     sn-placement="'bottom-left'"
                                     sn-on-close="closeFieldsStickyNote()">
                        </sticky-note>
                        <div class="main-viewport">
                            <div id="preview-grid"
                                 class="ag-custom"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div ingest-db-tables
         ctrl-name="visualizationCtrl"
         filter-id="visualization-filters"
         save-width="true"></div>
</div>