.ui-select-choices-row-inner {
  padding: 0 !important;
}

.ui-select-choices-row-inner > span {
  padding: 3px 20px !important;
  display: block;
  padding-left: 5px !important;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  cursor: text;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 15px;
  line-height: 19px;
  color: #aaa;
  opacity: 1;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  text-align: left;
  color: #222 !important;
  font-size: 13px;
  background-color: #f5f5f5;
  margin: 0 8px 4px 0;
  padding: 0 5px;
  line-height: 20px;
  border-color: #d9d9d9;

  .sort-description {
    margin-top: -5px;
    font-size: 12px;
    color: grey;
  }

  .sort-settings-dropdown-button {
    display: inline-block;
    position: relative;
    right: -2px;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    background-color: #f8f8f8;
    text-align: center;
    cursor: pointer;
    color: #e5e5e5;
  }

}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item:hover {
  border-color: #b9b9b9;
}

.ui-select-multiple .ui-select-match-item.dropping-before:before,
.ui-select-multiple .ui-select-match-item.dropping-after:after {
  margin-left: 4px;
  margin-right: 4px;
  height: auto;
  top: -2px;
  bottom: -2px;
  border-width: 2px;
}

.ui-select-choices.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  width: auto !important;
  min-width: 250px !important;
  right: initial !important;
  overflow-y: auto;
}

.ui-select-bootstrap .ui-select-choices-row.disabled > a {
  color: #333 !important;
}

.ui-select-bootstrap .ui-select-choices-row > a {
  height: auto;
  line-height: 24px;
}

.ui-select-bootstrap .ui-select-choices-row > a > span {
  height: 27px;
  display: block;
}

.ui-select-bootstrap .ui-select-choices-row.active > a,
.ui-select-bootstrap .ui-select-choices-row:active > a,
.ui-select-bootstrap .ui-select-choices-row:focus > a,
.ui-select-bootstrap .ui-select-choices-row.hover > a {
  background-color: #EEE;
  color: #333;
}

.ui-select-bootstrap .ui-select-match {
  outline: none;
  box-shadow: none;
}

.ui-select-with-tooltip-block {
  width: 100%;
}

.ui-select-bootstrap input.ui-select-search {

  /* do not group these rules */
  &::-webkit-input-placeholder {
    font-size: 13px;
    color: #888;
  }
  &:-moz-placeholder {
    /* FF 4-18 */
    font-size: 13px;
    color: #888;
  }
  &::-moz-placeholder {
    /* FF 19+ */
    font-size: 13px;
    color: #888;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #888;
  }
}


//.x-axis .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
//  background-color: #D6EDF8;
//  border-color: #A7C4D4;
//}
//
//.y-axis .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
//  background-color: #E2F8BF;
//  border-color: #9CBF7F;
//}
//
//.y-axis .ui-select-multiple.ui-select-bootstrap .ui-select-match-item.hltd {
//  background-color: #c4ffaf;
//  border-color: #6a8558;
//}
//
//.sort-by .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
//  background-color: #f6bcef;
//  border-color: #cea4d6;
//}
//
//.segment-by .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
//  background-color: #f4f6bc;
//  border-color: #d6d1a4;
//}


.show-me-bar-table .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  margin: 0;
}

.query-table .ui-select-container {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
  outline: none;
  padding: 8px 5px 5px;
  min-height: 40px;
}

.show-me-list-oper {
  color: rgba(51, 51, 51, 0.7) !important;
}

.item-table .show-me-list-oper {
  color: rgba(187, 187, 187, 0.7);
}

.side-links {
  position: absolute;
  bottom: 12px;
  right: 12px;

  a {
    color: #666;
    font-size: 13px;
  }
}