<!-- range -->
<div class="range-selector-wrap">
    <ul class="range-selector">
        <li class="range-type" ng-click="fixedInterval('y', 24)">
            <i ng-class="currentRange == 'y' ? 'fa fa-check check1' : 'none'"></i>Yesterday
        </li>
        <li class="range-type" ng-click="fixedInterval('7', 168)">
            <i ng-class="currentRange == '7' ? 'fa fa-check check1' : 'none'"></i>Last 7 Days
        </li>
        <li class="range-type" ng-click="fixedInterval('30', 720)">
            <i ng-class="currentRange == '30' ? 'fa fa-check check1' : 'none'"></i>Last 30 Days
        </li>
        <li class="range-type" ng-click="fixedInterval('90', 2160)">
            <i ng-class="currentRange == '90' ? 'fa fa-check check1' : 'none'"></i>Last 90 Days
        </li>
        <li class="range-type" ng-click="fixedInterval('365', 8760)">
            <i ng-class="currentRange == '365' ? 'fa fa-check check1' : 'none'"></i>Last 365 Days
        </li>
        <li class="range-type" ng-click="fixedInterval('l')">
            <i ng-class="currentRange == 'l' ? 'fa fa-check check1' : 'none'"></i>Lifetime
        </li>
        <li class="calnopad hr">
            <hr>
        </li>
        <li class="range-type is-active custom-range-type title"><i
                ng-class="currentRange == 'c' ? 'fa fa-check check1' : 'none'"></i>Custom Range
        </li>
    </ul>
	<div class="radioCont">
		<div>
			<input id="{{facet}}-f" type="radio" ng-value="false" ng-change="toggleRadio()" name="radio1" ng-model="mappings.popoverRadio" checked><label for="{{facet}}-f">Fixed</label>
		</div>
		<div>
			<input id="{{facet}}-d" type="radio" ng-value="true" ng-change="toggleRadio()" ng-model="mappings.popoverRadio" name="radio1"><label for="{{facet}}-d">Dynamic</label>
		</div>
	</div>
	<div class="custom-range-inputs range-inputs" ng-show="!mappings.popoverRadio">
		<input type="text" class="startDateInput date-input"
		ng-focus="renderCal(customMin, 'min')" value="{{customMin|date:'MMM dd, yyyy'}}">&nbsp;
		<input type="text" class="endDateInput date-input"
		ng-focus="renderCal(customMax, 'max')" value="{{customMax|date:'MMM dd, yyyy'}}">
	</div>
</div>
<div class="range-date-picker-wrap" ng-show="mappings.popoverCal">
	<date-picker-reports class="range-date-picker is-active">
		<div class="day">
			<header class="controls">
				<span ng-click="getMonth(calLabel, -1)" class="scroller prev"><i class="fa fa-chevron-left"></i></span>
				<span class="current-label">{{calLabel|date:'MMM yyyy'}}</span>
				<span ng-click="getMonth(calLabel, 1)" class="scroller next"><i class="fa fa-chevron-right"></i></span>
			</header>
			<table class="calendar">
			</table>
		</div>
	</date-picker-reports>
</div>
<div class="range-date-picker-wrap" ng-show="mappings.popoverRadio">
	<date-picker-reports class="range-date-picker is-active dyanmicDatepicker">
		<div class="movingRange">
		    <div style="margin-right:18px;margin-top:-2px;" ng-click="dynamicSelect('last')">
		    	<input type="checkbox" id="checkbox-{{facet}}-last" class="regular-checkbox" ng-checked="last" maxlength="3" ng-click="applyFilter('a')">
				<label for="checkbox-{{facet}}-last"></label>
		    </div>
		    <div style="margin-right: 10px; font-size: 12px; margin-top: 3px;">Last</div>
		    <div style="margin-right: 5px;"><input style="" type="text" ng-model="lastValue" ng-disabled="inputDisabled('last')" ng-change="applyFilter('a')"></div>
		    <div>
		    	<select style="font-size: 12px;" ng-model="lastSelect" ng-init="lastSelect = 'd'" ng-change="applyFilter('a')">
		    		<option value="d">Days</option>
		    		<option value="w">Weeks</option>
		    		<option value="M">Months</option>
		    		<option value="Q">Quarters</option>
		    		<option value="y">Years</option>
		    	</select>
		    </div>
		    <div class='clear'></div>
	    </div>
	    <div class="movingRange">
		    <div style="margin-right:18px;margin-top:-2px;" ng-click="dynamicSelect('next')" >
		    	<input type="checkbox" id="checkbox-{{facet}}-next" class="regular-checkbox" ng-checked="next" maxlength="3" ng-click="applyFilter('a')">
				<label for="checkbox-{{facet}}-next"></label>
		    </div>
		    <div style="margin-right: 10px; font-size: 12px; margin-top: 3px;">Next</div>
		    <div style="margin-right: 5px;"><input style="" type="text" ng-model="nextValue" ng-disabled="inputDisabled('next')" ng-change="applyFilter('a')"></div>
		    <div>
		    	<select style="font-size: 12px;" ng-model="nextSelect" ng-init="nextSelect = 'd'" ng-change="applyFilter('a')">
		    		<option value="d">Days</option>
		    		<option value="w">Weeks</option>
		    		<option value="M">Months</option>
		    		<option value="Q">Quarters</option>
		    		<option value="y">Years</option>
		    	</select>
		    </div>
		    <div class='clear'></div>
	    </div>
	</date-picker-reports>
</div>