<div class="period-selector button-bar">
	<button ng-click="currentTab = 'range'; mappings.popoverCal = false;" ng-class="currentTab == 'range' ? 'selected' : ''" class="range">Range</button>
	<button ng-click="currentTab = 'week'" ng-class="currentTab == 'week' ? 'selected' : ''" class="week">Week</button>
	<button ng-click="currentTab = 'month'" ng-class="currentTab == 'month' ? 'selected' : ''" class="month">Month</button>
	<button ng-click="currentTab = 'quarter'" ng-class="currentTab == 'quarter' ? 'selected' : ''" class="quarter">Quarter</button>
	<button ng-click="currentTab = 'year'" ng-class="currentTab == 'year' ? 'selected' : ''" class="year">Year</button>
</div>
<div popover-menu-range mappings="mappings" facet="{{facet}}" ng-show="currentTab === 'range'"></div>
<div popover-menu-week mappings="mappings" facet="{{facet}}" ng-show="currentTab == 'week'"></div>
<div popover-menu-month mappings="mappings" facet="{{facet}}" ng-show="currentTab == 'month'"></div>
<div popover-menu-quarter mappings="mappings" facet="{{facet}}" ng-show="currentTab === 'quarter'"></div>
<div popover-menu-year mappings="mappings" facet="{{facet}}" ng-show="currentTab === 'year'"></div>