<div ng-if="controllerName != 'embedCtrl' && chartTooltip.visible" click-out="chartTooltip.hide()" ng-mouseover="chartTooltip.resetTimeout()" ng-mousemove="$event.stopPropagation()" class="chart-tooltip drill-in-menu dropdown-menu" ng-style="{'border-color': chartTooltip.color}">
    <div class="tooltip-header"
         ng-class="{'active': chartTooltip.active}"
         ng-style="{'border-color': chartTooltip.color, 'font-size': (chartTooltip.headerData.length > 1) ? '13px' : '14px'}">
        <div style="padding: 2px" ng-hide="vizSummary.chartType == chartTypes.SCATTER">{{chartTooltip.value | fixedIfFloatFilter}}</div>
        <div ng-repeat="el in chartTooltip.headerData" style="padding-left: 15px;">
            <i class="icon-column" ng-style="{'background-color': el.color || chartTooltip.color}"></i>
            <span ng-bind-html="removeCalculate(el.key)"></span>&nbsp;
            <strong style="float: right;" ng-hide="vizSummary.chartType == chartTypes.SCATTER">{{el.value | fixedIfFloatFilter}}</strong>
            <strong style="float: right;" ng-hide="vizSummary.chartType != chartTypes.SCATTER">({{chartTooltip.value | fixedIfFloatFilter}}, {{el.value | fixedIfFloatFilter}})</strong>
        </div>
    </div>
    <div ng-show="!chartTooltip.viewData && chartTooltip.active" ng-click="chartTooltip.hide()">
        <div class="dropdown-menu-right">
            <div ng-show="!chartTooltip.isRegressionLine" ng-if="controllerName == 'visualizationCtrl'">
                <div class="dropdown-submenu">
                    <div class="drill-in-menu-item" ng-click="$event.stopPropagation()"><strong>Drill in</strong> by</div>
                    <ul class="dropdown-menu drill-in-menu" ng-style="{'border-color': chartTooltip.color}" ng-class="{'left': isMostLeftPoint(chartTooltip.point)}">
                        <li ng-repeat="intoColumn in filterList" ng-if="intoColumn.name != chartTooltip.byColumn.name">
                            <a ng-click="drillDown(chartTooltip.byColumn, chartTooltip.byValue, intoColumn, true, chartTooltip.row)"
                               class="drill-in-menu-item">
                                {{humanize(intoColumn.rename || intoColumn.name)}}</a>
                        </li>
                    </ul>
                </div>
                <div class="drill-in-menu-item" ng-click="selectFromResults(chartTooltip.byColumn, chartTooltip.byValue, false, chartTooltip.row, true)">
                    <strong>Filter</strong> to value
                </div>
                <div class="drill-in-menu-item" ng-click="selectFromResultsRemove(chartTooltip.byColumn, chartTooltip.byValue, chartTooltip.row, true)">
                    <strong>Exclude</strong> this value
                </div>
                <div class="drill-in-menu-item" ng-click="openModalFromTooltip(chartTooltip)">
                    <strong>View</strong> data
                </div>
            </div>
            <div ng-if="vizSummary.chartType == chartTypes.SCATTER" class="dropdown-submenu">
                <div class="drill-in-menu-item" ng-click="$event.stopPropagation()"><strong>Add</strong> regression</div>
                <ul class="dropdown-menu dropdown-settings sidebar-filters drill-in-menu regression-menu" ng-style="{'border-color': chartTooltip.color}" ng-class="{'left': isMostLeftPoint(chartTooltip.point)}">
                    <li ng-click="onRegressionTypeSelected(null)" class="menu-item-table">
                            <span>
                                <input type="checkbox" class="regular-checkbox arrowed"
                                       ng-checked="vizSummary.regressionType === null">
                                <label></label>
                            </span>
                        <a class="drill-in-menu-item">None</a>
                    </li>
                    <li ng-repeat="regType in REGRESSION_TYPE_OPTIONS" ng-click="onRegressionTypeSelected(regType.value)" class="menu-item-table">
                            <span>
                                <input type="checkbox" class="regular-checkbox arrowed"
                                       ng-checked="vizSummary.regressionType === regType.value">
                                <label></label>
                            </span>
                        <a class="drill-in-menu-item" ng-bind="regType.desc"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="arrow" ng-class="chartTooltip.direction" ng-style="{'color': chartTooltip.color}"></div>
</div>

<div ng-if="controllerName == 'embedCtrl' && !chartTooltip.viewData && chartTooltip.active" ng-click="chartTooltip.hide()">
    <div class="dropdown-menu-right">
        <div ng-if="vizSummary.chartType == chartTypes.SCATTER" class="dropdown-submenu">
            <div class="drill-in-menu-item" ng-click="$event.stopPropagation()"><strong>Add</strong> regression</div>
            <ul class="dropdown-menu dropdown-settings sidebar-filters drill-in-menu regression-menu" ng-style="{'border-color': chartTooltip.color}" ng-class="{'left': isMostLeftPoint(chartTooltip.point)}">
                <li ng-click="onRegressionTypeSelected(null)" class="menu-item-table">
                    <span>
                        <input type="checkbox" class="regular-checkbox arrowed"
                               ng-checked="vizSummary.regressionType === null">
                        <label></label>
                    </span>
                    <a class="drill-in-menu-item">None</a>
                </li>
                <li ng-repeat="regType in REGRESSION_TYPE_OPTIONS" ng-click="onRegressionTypeSelected(regType.value)" class="menu-item-table">
                    <span>
                        <input type="checkbox" class="regular-checkbox arrowed"
                               ng-checked="vizSummary.regressionType === regType.value">
                        <label></label>
                    </span>
                    <a class="drill-in-menu-item" ng-bind="regType.desc"></a>
                </li>
            </ul>
        </div>
    </div>
</div>