<form class="delete-modal datadoc-info-modal" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeDatadocInfoModal()">&times;</button>
        <h4 class="modal-title">{{selectedTable.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="info">
            <div class="datadoc">
                <div class="title">Datadoc Info</div>
                <div class="three-dots-loader" ng-show="datadocInfoModal.statsLoading"></div>
                <div class="clearfix"></div>
                <div ng-show="!datadocInfoModal.stats.lastSaved"
                     class="not-saved">This datadoc has not been saved yet.</div>
                <table ng-show="datadocInfoModal.stats.lastSaved">
                    <tr>
                        <td>Sheets:</td>
                        <td>{{datadocInfoModal.stats.sheets}}</td>
                    </tr>
                    <tr>
                        <td>Total Rows:</td>
                        <td>{{datadocInfoModal.stats.totalRows | number}}</td>
                    </tr>
                    <tr>
                        <td>Storage Space:</td>
                        <td>{{datadocInfoModal.stats.storageSpace | size:1:'bytes'}}</td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>Data Ingested:</td>-->
                        <!--<td>{{datadocInfoModal.stats.dataIngested | size:1:'bytes'}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Data Processed:</td>-->
                        <!--<td>{{datadocInfoModal.stats.dataProcessed | size:1:'bytes'}}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Created:</td>
                        <td>{{datadocInfoModal.stats.created | date:"MMM d, y 'at' ha"}} by {{datadocInfoModal.stats.createdByUserName}}</td>
                    </tr>
                </table>
            </div>

            <div class="sheet">
                <div class="title">Sheet Info</div>
                <div class="three-dots-loader" ng-show="datadocInfoModal.statsLoading"></div>
                <div class="clearfix"></div>
                <div uib-dropdown
                     class="dropdown">
                    <div uib-dropdown-toggle class="form-control" style="cursor: pointer;">{{datadocInfoModal.selectedTabStats.bookmarkName}}</div>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="datadocInfoModal.selectTab(tab)"
                            class="dropdown-menu-item"
                            ng-repeat="tab in datadocInfoModal.stats.bookmarks">
                            <a ng-bind="tab.bookmarkName"></a>
                        </li>
                    </ul>
                </div>
                <div ng-show="!datadocInfoModal.selectedTabStats.lastSaved"
                     class="not-saved">This sheet has not been saved yet.</div>
                <table ng-show="datadocInfoModal.selectedTabStats.lastSaved">
                    <tr>
                        <td>Rows:</td>
                        <td>{{datadocInfoModal.selectedTabStats.rows | number}}</td>
                    </tr>
                    <tr>
                        <td>Cols:</td>
                        <td>{{datadocInfoModal.selectedTabStats.columns | number}}</td>
                    </tr>
                    <tr>
                        <td>Storage Space:</td>
                        <td>
                            <span>{{datadocInfoModal.selectedTabStats.storageSpace | size:1:'bytes'}}</span>
                            <span ng-show="datadocInfoModal.selectedTabStats.storageType == 'Small'" class="storage-type">&nbsp;S</span>
                            <span ng-show="datadocInfoModal.selectedTabStats.storageType == 'Large'" class="storage-type">&nbsp;L</span>
                        </td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>Data Ingested:</td>-->
                        <!--<td>{{datadocInfoModal.stats.dataIngested | size:1:'bytes'}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>Data Processed:</td>-->
                        <!--<td>{{datadocInfoModal.selectedTabStats.dataProcessed | size:1:'bytes'}}</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Created:</td>
                        <td>{{datadocInfoModal.selectedTabStats.created | date:"MMM d, y 'at' ha"}} by {{datadocInfoModal.selectedTabStats.createdByUserName}}</td>
                    </tr>
                    <tr ng-show="!datadocInfoModal.selectedTabStats.createdAndLastSavedAreSameToHours">
                        <td>Data Last Saved:</td>
                        <td>{{datadocInfoModal.selectedTabStats.lastSaved | date:"MMM d, y 'at' ha"}} by {{datadocInfoModal.selectedTabStats.lastSavedByUserName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>