<form class="delete-modal">
<div class="modal-header">
    <h4 class="modal-title">Delete view</h4>
</div>
<div class="modal-body" style="padding-top: 24px;">
    <p>Are you sure you want to delete the view named '{{deleteViewOptions.name}}'?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default-flat-goog pull-right"
            style="margin-left: 10px"
            ng-click="cancelDeleteViewModal()">Cancel</button>

    <button type="submit"
            class="btn btn-primary-goog pull-right"
            ng-click="deleteViewOptions.deleteBookmarkState()">Delete</button>
</div>
</form>