<form>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelDeleteTableModal()">&times;</button>
        <h4 class="modal-title">Convert Error</h4>
    </div>
    <div class="modal-body">
        <div style="padding: 20px 0">
            This query can not be converted into UI filters, would you like to proceed and reset all filters?
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit"
                class="btn btn-primary-cstm pull-right"
                style="width: 100px; margin-left: 10px"
                ng-click="resetConvertToFilters()" autofocus>Reset</button>

        <button class="btn btn-default-cstm pull-right"
                style="width: 100px;"
                ng-click="cancelConvertToFilters()">Cancel</button>
    </div>
</form>