<div class="modal-header">
    <button type="button" class="close" ng-click="cancelJoinSettings()">&times;</button>
    <h4 class="modal-title">Join Settings</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd>
            <div class="form-group">
                <select class="form-control"
                        ng-init="joinType"
                        ng-change="joinTypeSelected()"
                        ng-options="t as t for t in availableJoinTypes"
                        ng-model="$parent.joinType">
                    <option value="" disabled>-- Select Join Type --</option>
                </select>
            </div>
            <div ng-if="joinParam.text">
                {{ joinParam.text }}
            </div>
        </dd>
        <div ng-if="joinParam.type == 'join'">
            <dt>Join Type</dt>
            <dd>
                <div class="form-group">
                    <select class="form-control"
                            ng-model="joinSettings.type"
                            ng-options="t.value as t.name for t in joinTypes">
                        <option value="" disabled>-- Select Join Type --</option>
                    </select>

                </div>
            </dd>
            <dt>Join Fields</dt>
            <dd>
                <div ng-repeat="condition in joinSettings.conditions">
                    <div class="form-group">
                        <div class="col-md-5" style="padding: 5px 0">
                            <select class="form-control"
                                    ng-option
                                    ng-model="condition.leftKey"
                                    ng-options="c as c for c in joinLeftDs">
                                <option value="" disabled>-- Select Left Key --</option>
                            </select>
                        </div>
                        <div class="col-md-1" style="text-align: center; line-height: 44px;">
                            =
                        </div>
                        <div class="col-md-5" style="padding: 5px 0">
                            <select class="form-control"
                                    ng-model="condition.rightKey"
                                    ng-options="c as c for c in joinRightDs">
                                <option value="" disabled>-- Select Right Key --</option>
                            </select>
                        </div>
                        <div class="col-md-1" style="text-align: right; padding: 7px;">
                            <button class="btn join-modal-btn" type="button"
                                    ng-click="removeJoinCondition($index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button class="btn join-modal-btn pull-left" ng-click="addJoinCondition()" title="+ Add additional"><i class="fa fa-plus"></i></button>
            </dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button type="submit"
            class="btn btn-primary-cstm pull-right"
            style="width: 100px; margin-left: 10px"
            ng-click="saveJoinSettings()"
            ng-if="joinParam.type != 'union'">Save</button>
    <button type="submit"
            class="btn btn-primary-cstm pull-right"
            style="width: 100px; margin-left: 10px"
            ng-click="switchJoin()"
            ng-if="joinParam.type == 'union'">Save</button>
    <button class="btn btn-default-cstm pull-right"
            style="width: 100px;"
            ng-click="cancelJoinSettings()">Cancel</button>
</div>