<p>Select upload:</p>

<div class="form-group">
    <select class="form-control"
            ng-model="model.from"
            ng-options="u.id as u.name for u in getUploadsLeft(model.from)">
        <option value="" disabled>-- Select Upload --</option>
    </select>
</div>

<div class="form-group"
     ng-repeat="jt in model.joins">
    <a href="javascript:void(0)" ng-click="deleteJoin($index)"><i class="fa fa-remove"></i></a>

    <select class="form-control"
            ng-model="jt.type"
            ng-options="t.value as t.name for t in joinTypes">
        <option value="" disabled>-- Select Join Type --</option>
    </select>

    <select class="form-control"
            ng-model="jt.upload"
            ng-options="u.id as u.name for u in getUploadsLeft(jt.upload)">
        <option value="" disabled>-- Select Upload --</option>
    </select>

    <div class="row">
        <div class="col-sm-6">
            <select class="form-control"
                    ng-model="jt.leftKey"
                    ng-options="h.id as h.name for h in getLeftKeys($index) track by h.id ">
                <option value="" disabled>-- Select Left Key --</option>
            </select>
        </div>

        <div class="col-sm-6">
            <select class="form-control"
                    ng-model="jt.rightKey"
                    ng-options="h.id as h.name for h in getRightKeys($index) track by h.id">
                <option value="" disabled>-- Select Right Key --</option>
            </select>
        </div>
    </div>

</div>

<button class="btn btn-default pull-right"
        ng-disabled="model.joins.length >= getUploads().length - 1"
        ng-click="addJoin()">Join Another Table</button>
<br/><br/>