<div class="limit-settings-dropdown">
    <div class="limit-settings-pill">
        <div class="limit-settings-pill-wrapper"
             ng-repeat="item in limitSettingsDropdown.items"
             ng-class="{'top-border': $index > 0}">
            <div class="limit-settings-pill-section">
                <span class="limit-settings-pill-caption" ng-bind="item.title"></span>
                <div class="limit-settings-select" uib-dropdown is-open="item.isOpen">
                    <div class="limit-input-wrapper" ng-click="limitSettingsDropdown.toggleChoicesDropdown($event, item, true)">
                        <input type="number" placeholder="Type..."
                                min="0"
                                ng-focus="$event.stopPropagation()"
                                ng-model="item.limit"
                                ng-blur="onLimitBlur(item)"
                                ng-keydown="onKeyDownLimitInput($event, item)"
                                ng-change="onLimitModelChanged(item)">
                    </div>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="choice in limitSettingsDropdown.choices[item.key]"
                            ng-click="onLimitChoiceSelect(choice, item)"
                            class="dropdown-menuitem">
                            <span class="dropdown-menuitem-content" ng-bind="choice"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>