<div class="header">
    <div class="header-content">
        <div class="header-content-title">
            <div class="icon drag-handler">
                <div class="img {{fileDetails.icon}}"></div>
            </div>
            <span class="file-name">{{fileDetails.current.name}}</span>
        </div>
        <span ng-click="closeFileDetailsPanel()"
              class="close-button">
            <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10" focusable="false">
                <polygon class="a-s-fa-Ha-pa" fill="#000000"
                         points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 "></polygon></svg></span>
    </div>
    <div class="header-details-title">
        DETAILS
    </div>
</div>
<div class="details">
    <div class="details-point" ng-if="fileDetails.isDatadoc">
        <div class="details-point-header">Share With</div>
        <div class="details-point-value">
            <a ng-click="openShareModal($event, fileDetails.current.id)"
               uib-tooltip-html="getSharedInfoTooltip(fileDetails.current)"
               tooltip-placement="bottom"
               tooltip-append-to-body="true"
               tooltip-popup-delay="250"
               tooltip-class="main-page-tooltip">
                {{fileDetailsShareWithMessage(fileDetails.current)}}
            </a>
        </div>
    </div>
    <div class="details-point">
        <div class="details-point-header">Type</div>
        <div class="details-point-value">{{fileDetails.type}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.current.descriptor.size">
        <div class="details-point-header">Size</div>
        <div class="details-point-value">{{fileDetails.current.descriptor.size | size:1:"bytes"}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.numSheets">
        <div class="details-point-header">Num Sheets</div>
        <div class="details-point-value">{{fileDetails.numSheets}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.numTables">
        <div class="details-point-header">Num Tables</div>
        <div class="details-point-value">{{fileDetails.numTables}}</div>
    </div>
    <div class="details-point">
        <div class="details-point-header">Location</div>
        <div class="details-point-value">{{fileDetails.location}}</div>
    </div>
    <div class="details-point">
        <div class="details-point-header">Added on</div>
        <div class="details-point-value">{{fileDetails.current.created | date:'mediumDate'}}</div>
    </div>
    <div class="details-point">
        <div class="details-point-header">Added by</div>
        <div class="details-point-value">{{$parent.userState.userId == fileDetails.current.userId ? 'me' : fileDetails.current.userName}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.isDatadoc && fileDetails.current.lastViewedByMe">
        <div class="details-point-header">Last opened</div>
        <div class="details-point-value">{{fileDetails.current.lastViewedByMe | date:'MMM d, y h:mm a'}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.isDatadoc && fileDetails.current.updated">
        <div class="details-point-header">Last refreshed</div>
        <div class="details-point-value">{{fileDetails.current.updated | date:'MMM d, y h:mm a'}}</div>
    </div>
    <div class="details-point"
         ng-show="fileDetails.current.descriptor">
        <div class="details-point-header">Datadocs</div>
        <div class="details-point-value">
            <span ng-show="fileDetails.current.relatedDatadocs.length == 0">—</span>
            <a ng-click="goToVisualization(datadoc, true)"
               ng-repeat="datadoc in fileDetails.current.relatedDatadocs | orderBy:'name'">{{datadoc.name}} <i class="fa fa-external-link"></i></a>
        </div>
    </div>
</div>
<div class="function-block">
    <button class="button btn btn-filters btn-filters-blue"
            ng-click="ingestSelectedSource()"
            ng-if="!fileDetails.isDatadoc"
            ng-show="fileDetails.current.type!='folder'">
        {{fileDetails.isDatabase ? 'Create datadoc from DB' : 'Open source'}}
    </button>

    <button class="button btn btn-filters btn-filters-blue"
            ng-click="goToVisualization(fileDetails.current)"
            ng-if="fileDetails.isDatadoc">
        Open Datadoc
    </button>
</div>
