<div class="modal-header">
    <button type="button" class="close" ng-click="closePreviewDistinctModal()">&times;</button>
    <h4 class="modal-title">Deduplicate Settings</h4>
</div>
<div class="modal-body">
    <div class="modal-helper-text">Select columns to deduplicate on:</div>
    <div ng-repeat="column in distinctModalSettings.selected">
        <button class="btn join-modal-btn" type="button"
                ng-click="distinctModalSettings.remove(column)">
            <i class="fa fa-times"></i>
        </button> {{removeCorners(column.name)}}
    </div>
    <div class="form-group" style="clear: both;" ng-show="distinctModalSettings.notSelected.length > 0">
        <select class="form-control"
                ng-model="distinctModalSettings.selectedColumn"
                ng-options="column as removeCorners(column.name) for column in distinctModalSettings.notSelected"
                ng-change="distinctModalSettings.add(distinctModalSettings.selectedColumn)">
            <option value="" disabled>-- Add Column --</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="submit"
            class="btn btn-primary-cstm pull-right"
            style="width: 100px; margin-left: 10px"
            ng-disabled="distinctModalSettings.selected.length == 0"
            ng-click="updatePreviewDistinct()">Save</button>
    <button class="btn btn-default-cstm pull-right"
            style="width: 100px;"
            ng-click="closePreviewDistinctModal()">Cancel</button>
</div>