<form>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closePreviewFormatModal()">&times;</button>
        <h4 class="modal-title">Format</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal" style="margin-bottom: 10px;">
            <dt>Sample</dt>
            <dd style="padding-top: 8px;">{{ formatModalSettings.type }}{{ 25 | number: (formatModalSettings.decimalPlaces || 0) }}</dd>
        </dl>
        <dl class="dl-horizontal" style="margin-bottom: 10px;">
            <dt>Decimal places</dt>
            <dd style="padding-top: 5px;"><input type="number" min="0" max="19" ng-model="formatModalSettings.decimalPlaces" style="padding-left: 12px; width: 65px;"/></dd>
        </dl>
        <dl class="dl-horizontal" style="margin-bottom: 10px;">
            <dt>Symbol</dt>
            <dd>
                <select class="form-control" style="width: 65px;"
                        ng-change="formatModalSettings.type = formatModalSettings.typeSelected"
                        ng-options="t as t for t in formatModalSettings.types"
                        ng-model="formatModalSettings.typeSelected">
                </select>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="submit"
                class="btn btn-primary-cstm pull-right"
                style="width: 100px; margin-left: 10px"
                ng-click="updatePreviewFormat()">Save</button>

        <button class="btn btn-default-cstm pull-left"
                style="width: 100px;"
                ng-click="closePreviewFormatModal()">Cancel</button>

    </div>
</form>