<form class="delete-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelReIngestModal()">&times;</button>
        <h4 class="modal-title">This change requires re-saving your data.</h4>
    </div>
    <div class="modal-body">
        <div style="padding: 20px 0">
            <p>The following changes require us to re-save your data:</p>

            <p ng-bind-html="reIngestModalOptions.actionText"></p>

            <p>We estimate re-saving your data will take <b>{{reIngestModalOptions.lastLoadText}}</b> to complete.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default-flat-goog pull-right"
                style="margin-left: 10px"
                ng-click="cancelReIngestModal()">Cancel</button>

        <button type="submit"
                class="btn btn-primary-goog pull-right"
                ladda="reIngestModalOptions.starting"
                ng-click="reIngestModalOptions.reload()" autofocus>OK</button>
    </div>
</form>