<form>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeRefreshSettingsModal()">&times;</button>
        <h4 class="modal-title">Refresh Schedule</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal"
            style="margin-bottom: 0">
            <dt>Refresh Type</dt>
            <dd>
                <div class="form-group">
                    <select class="form-control"
                            ng-options="t.code as t.name for t in availableTypes"
                            ng-model="refreshSettings.type">
                        <option value="" disabled>Select Refresh Type</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal"
            ng-show="refreshSettings.type != 'NONE'"
            style="margin-bottom: 0">
            <dt>Refresh Frequency</dt>
            <dd>
                <div class="form-group">
                    <cron-selection ng-model="refreshSettings.cronExpression" ></cron-selection>
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal"
            ng-show="refreshSettings.type != 'NONE'"
            style="margin-bottom: 0">
            <dt>Preserve History</dt>
            <dd>
                <div class="form-group">
                    <input type="checkbox" class="regular-checkbox" style="margin-top: 10px"
                           ng-model="refreshSettings.preserveHistory">
                    <label></label>
                </div>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">

        <button type="submit"
                class="btn btn-primary-cstm pull-right"
                style="width: 100px; margin-left: 10px"
                ladda="isExternalDsSaving"
                ng-click="saveRefreshSettings()">Save</button>

        <button class="btn btn-default-cstm pull-right"
                style="width: 100px;"
                ng-click="closeRefreshSettingsModal()">Close</button>
    </div>
</form>