<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>
<div class="modal-body regression">
    <div class="clearfix">
        <form name="calculatorForm">
            <div class="form-group">
                <label for="x" class="col-sm-3 control-label">Enter x:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="x" name="x" placeholder="Enter x"
                           ng-model="calculateFormModel.x" ng-change="calculate()"
                           ng-class="{'form-control-error': wrongFormat}" only-numeric autofocus>
                </div>
            </div>
            <br><br><br>
            <div class="form-group">
                <label for="y" class="col-sm-3 control-label">Result (y):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="y" name="y" placeholder="Result (y)"
                           ng-model="calculateFormModel.y" readonly>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default-cstm" type="button" ng-click="ok()">Close</button>
</div>