<div class="dropdown-menu" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px'}" role="listbox" aria-hidden="{{!isOpen()}}">
    <div class="nav" ng-show="!options.isSearchMode()">
        <span ng-show="options.selectedFolder">
            <a class="item item-link"
               ng-click="options.selectFolder(undefined, $event)">
                <input type="hidden" class="uid" value=""/>
                <span>Sources</span></a>
            <span ng-show="options.selectedFolder">
                <span ng-repeat="parent in options.selectedFolder.parentsPath">
                    <span class="item item-delimiter"><i class="fa fa-angle-right"></i></span>
                    <a class="item item-link"
                       ng-click="options.selectFolder(parent, $event)">
                        <input type="hidden" class="uid" value="{{parent.id}}"/>
                        <span>{{parent.name}}</span>
                    </a>
                </span>
                <span>
                    <span class="item item-delimiter"><i class="fa fa-angle-right"></i></span>
                    <span class="item item-current">{{options.selectedFolder.name}}</span>
                </span>
            </span>
        </span>
        <span ng-show="!options.selectedFolder && options.ingestDataSummary.selectedSources.length">

            <span class="item item-current">Current Source: </span>
            <a class="item item-link"
                   ng-click="options.selectSource(options.ingestDataSummary.selectedSources[0], $event)">
                <span ng-bind="options.ingestDataSummary.selectedSources[0].type === 'section-ds' ? options.ingestDataSummary.selectedSources[0].parentName : options.ingestDataSummary.selectedSources[0].name"></span>
            </a>

        </span>
        <span ng-show="!options.selectedFolder && !options.ingestDataSummary.selectedSources.length && options.mostRecentSource">

            <span class="item item-current">Last Source: </span>
            <a class="item item-link"
               ng-click="options.selectSource(options.mostRecentSource, $event)">
                <span ng-bind="options.mostRecentSource.name"></span>
            </a>

        </span>

    </div>
    <div class="items">
        <div class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mousemove="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </div>
    </div>
</div>
