<form class="delete-modal" name="setName" novalidate>
    <div class="modal-body">
        <div style="padding-top: 20px">
            <h4>Name your view</h4>
            <div style="padding: 15px 0">Give your view a name before it's saved:</div>
            <div class="form-group">
                <input name="name"
                       type="text"
                       class="form-control"
                       ng-model="setNameForStateModal.name"
                       required
                       autofocus
                       style="width: 100%">
                <div ng-show="setName['name'].$error.required && setName['name'].$touched" class="error">View name should not be empty</div>
            </div>
            <div>
                <button type="submit"
                        ng-disabled="setName.$invalid"
                        class="btn btn-primary-goog"
                        style="margin-left: 0;"
                        ng-click="onSaveCurrentState(setNameForStateModal.name)">Save</button>
            </div>
        </div>
    </div>
</form>