<form class="share-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeShareModal()">&times;</button>
        <h4 class="modal-title">Share with others</h4>
    </div>
    <div class="modal-body">
        <div class="share-with-label">People</div>
        <div class="share-with-wrapper">
            <ui-select multiple ng-model="selectedShareWith.selected"
                       id="share-with-input"
                       on-before-select="shareInputValidation($item)"
                       on-select="onSelectPerson($item, $model, $selected)"
                       on-remove="onRemovePerson($item, $model, $selected)"
                       focus-on="shareInputFocus">
                <ui-select-match placeholder="Enter email addresses...">
                    <div class="person-icon">
                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                    <span>{{$item.isNewTag ? $item.email : $item.name}}</span>
                </ui-select-match>

                <ui-select-choices class="contacts-menu"
                                   repeat="person in canShareWith | filter: $select.search"
                                   refresh-delay="0"
                                   refresh="onBeforeChangeUserShare($select.search)"
                                   minimum-input-length="1">
                    <li class="contacts-menu-item">
                        <div class="contact-content">
                            <div class="contact-avatar random-color" data-initials={{person.name[0].toUpperCase()}}
                                 ng-if="!person.avatarPath"></div>
                            <div class="contact-avatar" ng-if="person.avatarPath">
                                <img ng-src="{{person.avatarPath}}" alt="{{person.name}}">
                            </div>
                            <div class="text">
                                <div class="name" ng-hide="person.isNewTag" ng-bind-html="person.name | highlight: $select.search"></div>
                                <div class="email" ng-bind-html="person.email | highlight: !person.isNewTag && $select.search"></div>
                            </div>
                        </div>
                    </li>
                </ui-select-choices>
            </ui-select>
            <div class="share-button-dropdown" uib-dropdown>
                <button class="share-access-button font-strong" uib-dropdown-toggle>
                    {{selectedSharingRole.display_title}}
                    <span class="gray-arrow">
                        <span class="arrow-down-gray"></span>
                    </span>
                </button>
                <ul class="sharing-access-bubble-menu dropdown-menu-right" uib-dropdown-menu>
                    <li class="sharing-access-menu-item" ng-class="{'selected': selectedSharingRole.index === $index}"
                        ng-repeat="role in sharingRoles" ng-click="selectSharingRole(role.display_title, $index)">
                        <div class="bubble-check">
                            <div class="check-icon"></div>
                        </div>
                        <div class="bubble-text">
                            <div class="title">{{role.display_title}}</div>
                            <div class="description">{{role.description}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="invalid-results-section" ng-show="isShareInvalid">One or more names or email addresses you entered are invalid.</div>
    <div class="share-sources-wrapper" ng-show="selectedShareWith.selected.length">
        <div class="share-sources-checkbox" ng-click="toggleShareAttachedSources()">
            <input type="checkbox"
                   class="regular-checkbox"
                   ng-model="shareAttachedSources">
            <label></label>
        </div>
        <div class="share-sources-decsription">Also share all source files attached to this datadoc</div>
    </div>
    <div class="share-modal-main-section" ng-class="{'message-pad-horizontal': selectedShareWith.selected.length}">
        <div class="link-info" ng-if="!selectedShareWith.selected.length" ng-class="{'link-created': sharingLinkCreated}">
            <div class="link-info-icon">
                <div class="link-icon"></div>
            </div>
            <div class="link-details">
                <div class="description"
                     ng-bind-html="sharingLinkCreated
                     ? '<b>Anyone</b> with the link can <b>view</b> this file'
                     : 'No link created yet'"></div>
                <div class="link-holder" ng-if="sharingLinkCreated">
                    <input title="Shared link URL" ng-copy="handleLinkCopy()" class="generated-link" type="text"
                           ng-model="generatedSharingLink" readonly
                           onClick="this.setSelectionRange(0, this.value.length)">
                </div>
                <div class="shared-states-wrapper" uib-dropdown dropdown-append-to-body="true"
                     ng-show="sharingLinkCreated && sharedStates && activeUser.id === sharedInfo.datadocOwner.id">
                    <div class="shared-states-description" uib-dropdown-toggle>
                        <span class="shared-states-title">Shared State:</span>
                        <div class="shared-states-action">
                            <span>{{selectedSharedState ? selectedSharedState.name : "None"}}</span>
                            <span class="gray-arrow">
                            <span class="arrow-down-gray"></span>
                        </span>
                        </div>
                    </div>
                    <ul class="sharing-member-bubble-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="sharing-member-menu-item"
                            ng-repeat="state in sharedStates" ng-click="selectSharedState(state)"
                            ng-class="{'selected': selectedSharedState.uuid === state.uuid, 'disabled': option.disabled}">
                            <div class="bubble-check">
                                <div class="check-icon"></div>
                            </div>
                            <div class="bubble-text">
                                <div class="title">{{state.name}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="link-action" ng-if="!sharingLinkCreated">
                <button class="button-as-link" ng-click="toggleSharingLink()">Create a link</button>
            </div>
            <div class="link-created-action" ng-if="sharingLinkCreated" uib-dropdown dropdown-append-to-body="true">
                <button class="button-as-link sharing-link-status" ng-mouseenter="hovering=true"
                        ng-mouseleave="hovering=false"
                        uib-dropdown-toggle>Turned on
                    <span class="gray-arrow" ng-if="!hovering">
                        <span class="arrow-down-gray"></span>
                    </span>
                    <span class="blue-arrow" ng-if="hovering">
                        <span class="arrow-down-blue"></span>
                    </span>
                </button>

                <ul class="sharing-member-bubble-menu dropdown-menu-right" uib-dropdown-menu>
                    <li class="sharing-member-menu-item"
                        ng-repeat="option in sharingLinkOptions" ng-click="handleSharingLinkOptions(option, $index)"
                        ng-class="{'selected': selectedSharingLinkOption == $index, 'disabled': option.disabled}">
                        <div class="bubble-check">
                            <div class="check-icon"></div>
                        </div>
                        <div class="bubble-text">
                            <div class="title">{{option.title}}</div>
                            <div class="description">{{option.description}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sharing-member-list" ng-if="!selectedShareWith.selected.length">
            <div class="sharing-member-list-item member-me" ng-if="sharedInfo.sharedWith.length">
                <div class="member-avatar random-color" data-initials="{{sharedInfo.datadocOwner.email[0].toUpperCase()}}"
                     ng-if="!sharedInfo.datadocOwner.avatarPath"></div>
                <div class="member-avatar" ng-if="sharedInfo.datadocOwner.avatarPath">
                    <img ng-src="{{sharedInfo.datadocOwner.avatarPath}}" alt="{{sharedInfo.datadocOwner.email}}">
                </div>
                <div class="sharing-member-info">
                    <div class="member-name-title">{{sharedInfo.datadocOwner.name}}</div>
                    <div class="member-email">{{sharedInfo.datadocOwner.email}}</div>
                </div>
                <div class="member-role">
                    <button class="button-as-link user-role-owner">
                        Owner
                    </button>
                </div>
            </div>
            <div class="sharing-member-list-item" ng-repeat="person in sharedInfo.sharedWith">
                <div class="member-avatar random-color" data-initials="{{person.email[0].toUpperCase()}}"
                     ng-if="!person.avatarPath"></div>
                <div class="member-avatar" ng-if="person.avatarPath">
                    <img ng-src="{{person.avatarPath}}" alt="{{person.email}}">
                </div>
                <div class="sharing-member-info">
                    <div class="member-name-title" ng-if="person.name">{{person.name}}</div>
                    <div class="member-email" ng-class="{'no-member-name': !person.name}">{{person.email}}</div>
                </div>
                <div class="member-role" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" uib-dropdown
                     dropdown-append-to-body="true" ng-if="activeUser.email != person.email">
                    <button class="button-as-link user-role-link"
                            uib-dropdown-toggle>{{getSharedUserRoleTitle(person.shareType)}}
                        <span class="gray-arrow" ng-if="!hovering">
                        <span class="arrow-down-gray"></span>
                    </span>
                        <span class="blue-arrow" ng-if="hovering">
                        <span class="arrow-down-blue"></span>
                    </span>
                    </button>
                    <ul class="sharing-member-bubble-menu dropdown-menu-right" uib-dropdown-menu>
                        <li class="sharing-member-menu-item"
                            ng-repeat="role in sharedUserRoles" ng-click="selectSharedUserRole(person, role.type)"
                            ng-class="{'selected': person.shareType == role.type}">
                            <div class="bubble-check">
                                <div class="check-icon"></div>
                            </div>
                            <div class="bubble-text">
                                <div class="title" ng-class="{'title-danger': role.type === 'REMOVE'}">{{role.title}}
                                </div>
                                <div class="description">{{role.description}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="member-role" ng-if="activeUser.email == person.email">
                    <button class="button-as-link user-role-owner">
                        Me
                    </button>
                </div>
            </div>
        </div>
        <div class="message-wrapper" ng-if="selectedShareWith.selected.length">
            <textarea ng-model="$parent.shareMessage" placeholder="Add a message (optional)"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="folder-settings">
            <button class="text-button">
                <span class="settings-icon"></span>
                Folder settings
            </button>
        </div>
        <div class="share-submit" ng-if="selectedShareWith.selected.length">
            <button class="btn btn-primary-goog" ladda="isSharing"
                    ng-disabled="isShareInvalid"
                    ng-click="shareDatadoc($parent.shareMessage)">Share
            </button>
            <button class="btn btn-default-flat-goog" ng-click="shareCancel()">Cancel</button>
        </div>
    </div>
</form>