<div class="user-wrapper" uib-dropdown>
    <div class="small-avatar-toggle" ng-class="{'default random-color': !user().avatarPath}"
         ng-attr-data-initials="{{!user().avatarPath ? getUserInitials() : ''}}"
         uib-dropdown-toggle
         ng-style="user().avatarPath && {'background': 'url(' + user().avatarPath + ') center center / cover no-repeat'}">
        <div class="uploading-avatar-backdrop" ng-if="isUploadingAvatar">
            <div class="avatar-spinner"></div>
        </div>
    </div>

    <div class="user-card dropdown-menu-right" uib-dropdown-menu>
        <div class="card-content">
            <div class="user-avatar-wrapper">
                <div class="user-avatar" ng-class="{'random-color': !user().avatarPath}"
                     ng-attr-data-initials="{{!user().avatarPath ? getUserInitials() : ''}}"
                     ng-style="user().avatarPath && {'background': 'url(' + user().avatarPath + ') center center / cover no-repeat'}">
                </div>
                <input type="file" id="change-avatar-file"
                       nv-file-select uploader="avatarUploader"
                       style="display: none">
                <label for="change-avatar-file" class="change-avatar">Change
                </label>
            </div>

            <div class="details">
                <div class="user-fullname">{{user().name}}</div>
                <div class="user-email">{{user().email}}</div>
                <a class="user-settings" ui-sref="main.landing.user_settings">User Settings</a>
                <button class="button btn btn-filters btn-filters-blue logout-button" ng-click="signOut()">
                    Log Out
                </button>
            </div>
        </div>
        <a class="view-tests" ng-if="user().admin" href="/test-results/">View tests</a>
    </div>
</div>