<li class="chart-datepicker"
    ng-if="(controllerName == 'visualizationCtrl' && getDateFilterAvalilableValues().length) || controllerName == 'embedPopupCtrl' || (controllerName == 'embedCtrl' && options.dateFilter)"
    ng-hide="(controllerName == 'embedPopupCtrl' && !embedFormModel.dateFilter)"
    style="padding-top: 5px;">
    <div>
        <div class="dropdown" ng-if="getDateFilterAvalilableValues().length > 1"
             style="border-bottom: 1px dotted #bbb;" uib-dropdown>
            <div class="chart-datepicker-header for-select" uib-dropdown-toggle>
                {{humanize(getDateFilterForChart().name)}}
            </div>
            <ul class="dropdown-menu sidebar-ul" role="menu" uib-dropdown-menu>
                <li class="menu-item-table" ng-repeat="item in getDateFilterAvalilableValues()"
                    ng-click="setDateFilterForChart(item)">
                    <a ng-bind-html="item.showName">{{humanize(item.name)}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <date-selector class="dropdown" style="margin: 0 0 0 10px;" uib-dropdown>
            <div class="date-selector-inner dropdown-toggle"
                 uib-dropdown-toggle>
                <div class="button form-control"
                     style="border: 0; box-shadow: none; padding-right: 0; padding-left: 0;">
                    <div class="calendar-startDate popover-context">
                        <div class="popover-toggle">
                            <i class="fa fa-calendar calendar-icon"></i>
                            <span ng-if="chartDatepicker"
                                  class="endDate">{{getCalendarFormat(getDateFilterForChart())}}</span>
                            <span ng-if="!chartDatepicker" class="endDate" ng-click="addDateFilterForChart()">Filter by Date</span>
                        </div>
                    </div>
                </div>
            </div>
            <div popover-menu ng-if="getDateFilterForChart()" mappings="getDateFilterForChart()"
                 hide-popover="hidePopover(part)"
                 class="dropdown-menu date-selector-popover popover2 active"
                 style="margin-right: 0;"
                 uib-dropdown-menu></div>
        </date-selector>

        <div style="display: inline-block;">
            by
            <div class="btn-group interval-dropdown" uib-dropdown>
                <label class="btn btn-xs btn-dateinterval text-capitalize"
                       style="cursor: default;"
                       ng-bind="vizSummary.xAxisShows[0].operation || 'none'"></label>
                <button class="btn btn-dateinterval"
                        ng-style="{'padding-top': controllerName == 'embedCtrl' ? '0px' : ''}" uib-dropdown-toggle><i
                        class="caret"></i></button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-if="!(vizSummary.xAxisShows[0].key == '$$row_number'
                                                       || (vizSummary.xAxisShows[0].type == 'daterange' && !vizSummary.xAxisShows[0].operation)
                                                       || vizSummary.xAxisShows[0].type != 'daterange')">
                        <label ng-click="clearDatePickerInterval()">None</label>
                    </li>
                    <li ng-repeat="op in dateOps" ng-if="op.val != vizSummary.xAxisShows[0].operation">
                        <label class="text-capitalize"
                               ng-class="{active: op.val == vizSummary.xAxisShows[0].operation}"
                               ng-click="datePickerInterval(vizSummary.xAxisShows[0], op)">{{op.val}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>