<div class="viz-list"
     infinite-scroll="loadMoreData"
     infinite-scroll-offset-from-bottom="10">
    <div vs-repeat
         vs-size="getListItemSize()"
         vs-scroll-parent=".viz-list">
        <div class="list-container"
             ng-repeat="o in resultsList">
            <div class="list-item-header"
                 ng-repeat="show in listViewShows.header()"
                 ng-bind-html="o[show.id.field]|formatCell:show.col:null:(dataSummary.highlightMatches?dataSummary.search:null)">
            </div>
            <table class="list-table">
                <tr class="list-table-row"
                    ng-repeat="show in listViewShows.data()">
                    <td>
                        <span class="list-item-key"
                              ng-bind-html="show.showName"></span>:
                    </td>
                    <td>
                        <span class="list-item-value"
                              ng-bind-html="o[show.id.field]|formatCell:show.col:null:(dataSummary.highlightMatches?dataSummary.search:null)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>