<div class="source input-node">
    <a class="delete">x</a>
    <i class="fa fa-plug fa-3x"></i>
    <div class="icon-text">Input Data</div>

    <div class="bottom-container">
        <span class="add"><span class="add-wrap"><span class="lbl"></span></span></span>
        <span class="add"><span class="add-wrap start-on-row">Start on <a class="lnk"><span class="row-text">Row 1</span></a></span></span>
        <span class="add"><span class="add-wrap use-headers"><a class="lnk">Use Headers</a></span></span>
    </div>
    <div class="out-port"></div>
</div>