<div class="source join-node">
    <a class="delete">x</a>
    <i class="fa fa-link fa-3x"></i>
    <a class="switch">Join<div class="ctrl"></div></a>
    <div class="bottom-container">
        <span class="add"><span class="add-wrap"><a id="type" class="lnk">Click to set join condition</a></span></span>
    </div>
    <div class="out-port"></div>
    <div class="in-port in-port-1">
        <div class="letter">L</div>
    </div>
    <div class="in-port in-port-2">
        <div class="letter">R</div>
    </div>
</div>