<div style="
    display: flex;
    flex-direction: row;
    height: 100%;
">
<div class="homescreen-wrapper docs-section" ng-class="{ 'file-details-opened': fileDetails.isOpen }">

    <div class="container header-container">
        <div sort-columns class="row"
             sort-columns-options="columnsSections.docs"></div>
    </div>
    <div class="wrapper-for-spinner">
        <div class="loading-spinner" ng-show='updateDocs'>
            <svg class="spinner" width="50px" height="50px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="7" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    <div class="container index-list-wrapper index-list-wrapper-with-spinner"
         enable-keyboard-navigation="true">
        <div ng-if="!getDatadocs().length && !isShowNewDocFolder()"
             ng-include="'static/templates/include/no-docs.html'"></div>

        <div class="main-page-ds-pane" ng-show="isShowNewDocFolder()">
            <add-folder-pane id="new-doc-folder"
                             on-enter="createNewDocFolder(folder.name, selectedDocFolder ? selectedDocFolder.id : undefined)"
                             on-cancel="cancelDocFolderCreate()">
            </add-folder-pane>
        </div>
        <div class="main-page-datadoc-pane row"
             ng-class="{'last': $last}"
             ng-repeat="d in getDatadocs() | orderBy: '__index'"
             on-finish-render="processRenderedDocBreadcrumbs()"
             context-menu="indexOptions($event, d)"
             context-menu-open-event="contextmenu dblclick touchstart touchmove touchend"
             context-menu-options="docContextMenuOptions">
            <datadoc-pane></datadoc-pane>
        </div>
        <div class="isLoadingSpinner" ng-show='isLoadMoreDocs'>
            <svg class="spinner" width="30px" height="30px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="7" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    </div>
</div>
    <main-page-file-details ng-show="fileDetails.isOpen" ng-cloak></main-page-file-details>
</div>