<div class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header main-navbar-header">
            <a class="navbar-brand" ng-click="toggleActiveSection(SECTIONS.MY_DATA, false, true)"></a>
        </div>
        <search-bar ng-show="!goingToVizPage"></search-bar>
        <div class="flex-spacer"></div>
        <div class="general-settings">
            <user-menu></user-menu>
        </div>
    </nav>
</div>

<div id="wrapper"
     ng-click="resetRenameSource(); resetRenameDoc()"
     class="resizable-wrapper"
     style="cursor: default"
     ng-class="{'reset-sidebar-padding': isLandingPage()}"
     nv-file-drop uploader="uploader" options="uploaderOptions"
     upload-border>
    <div id="page-content-wrapper" class="main-page-wrapper page-content-wrapper">
        <div class="main-page">
            <nav class="nav-sidebar-wrapper">

                <div class="nav-sidebar-content no-select">
                    <div class="content-header">

                        <div class="recent-section-dropdown-wrapper" uib-dropdown is-open="recentDropdownMenuOpened">
                            <button class="create-doc"
                                    ng-click="createIndex(null, null, true, true)"
                                    uib-tooltip="Click to create a new datadoc"
                                    tooltip-placement="top"
                                    tooltip-popup-delay="250"
                                    tooltip-append-to-body="true"
                                    tooltip-class="main-page-tooltip">
                                <span class="create-doc-text">
                                    Create
                                </span>
                            </button>
                            <button uib-dropdown-toggle
                                    class="create-doc sub-button"
                                    uib-tooltip="Click to add a new source or folder"
                                    tooltip-placement="top"
                                    tooltip-popup-delay="250"
                                    tooltip-append-to-body="true"
                                    tooltip-class="main-page-tooltip"
                                    tooltip-enable="!recentDropdownMenuOpened">
                                <i class="fa fa-plus"></i>
                            </button>
                            <ul class="main-page-dropdown-menu recent-section-dropdown landing-page-menu" uib-dropdown-menu>
                                <li class="main-page-dropdown-menuitem" ng-click="createIndex()">
                                    <a>
                                        <div class="icon">
                                            <div class="img index-icon icon-small"></div>
                                        </div>
                                        <span class="text-content">
                                            Create datadoc
                                        </span>
                                    </a>
                                </li>
                                <li class="main-page-dropdown-menuitem" ng-click="addDataSource()">
                                    <a>
                                        <div class="icon">
                                            <div class="img sources"></div>
                                        </div>
                                        <span class="text-content">
                                            Add source
                                        </span>
                                    </a>
                                </li>
                                <li class="main-page-dropdown-menuitem" ng-click="showNewFolderModal()"
                                    ng-show="activeSection != SECTIONS.RECENT">
                                    <a>
                                        <div class="icon">
                                            <div class="img folder icon-small"></div>
                                        </div>
                                        <span class="text-content">
                                            Add folder
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav-section-wrapper" ng-cloak>
                        <div class="nav-item-wrapper"
                             ng-class="{'active': activeSection == SECTIONS.MY_DATA}"
                             ng-click="toggleActiveSection(SECTIONS.MY_DATA, false, true)">
                            <span class="item-icon">
                                <div class="img sources"></div>
                            </span>
                            <span class="item-content">My Data</span>
                        </div>
                        <div class="nav-item-wrapper"
                             ng-class="{'active': activeSection == SECTIONS.USER_SETTINGS}"
                             ng-click="toggleActiveSection(SECTIONS.USER_SETTINGS)">
                            <span class="item-icon">
                                <div class="img user"></div>
                            </span>
                            <span class="item-content">User Settings</span>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="homescreen-container" ng-cloak
                 context-menu="mainPageMainMenuOptions()"
                 context-menu-options="mainContextMenuOptions"
                 ui-view>

            </div>

        </div>
    </div>
</div>

