<div style="
    display: flex;
    flex-direction: row;
    height: 100%;
">
    <div class="homescreen-wrapper sources-section" ng-class="{ 'file-details-opened': fileDetails.isOpen }">

        <div class="container header-container">
            <div sort-columns class="row"
                 sort-columns-options="columnsSections.sources"></div>
        </div>

        <div class="wrapper-for-spinner">
            <div class="loading-spinner"
                 ng-show="isShowSourcesBackdrop"
                 ng-class="!gettingSources() ? 'backdrop' : 'no-backdrop'">
                <svg class="spinner" width="50px" height="50px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="7" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
            <div class="container index-list-wrapper index-list-wrapper-with-spinner"
                 ng-select-items="ngSelectSourcesSectionOptions"
                 enable-keyboard-navigation="true">
                <div ng-if="!getUploads().length && !isShowNewSourceFolder() && !gettingSources()"
                     ng-include="'static/templates/include/no-sources.html'"></div>

                <div class="main-page-ds-pane" ng-show="isShowNewSourceFolder()">
                    <add-folder-pane id="new-source-folder"
                                     loading="isNewSourceFolderLoading()"
                                     on-enter="createNewSourceFolder(folder.name, selectedSourceFolder ? selectedSourceFolder.id : undefined)"
                                     on-cancel="cancelSourceFolderCreate()">
                    </add-folder-pane>
                </div>

                <div class="main-page-ds-pane"
                     ng-repeat="u in getUploads() | orderBy: '__index'"
                     ng-class="{'last': $last}"
                     on-finish-render="processRenderedSourceBreadcrumbs()"
                     context-menu="uploadedItemOptions($event)"
                     context-menu-options="sourceContextMenuOptions"
                     context-menu-open-event="contextmenu dblclick touchstart touchmove touchend">
                    <main-page-ds-pane ></main-page-ds-pane>
                </div>
                <div class="isLoadingSpinner" ng-show="isLoadMoreSources">
                    <svg class="spinner" width="30px" height="30px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="7" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <main-page-file-details ng-show="fileDetails.isOpen" ng-cloak></main-page-file-details>
</div>