<div style="
    display: flex;
    flex-direction: row;
    height: 100%;
">
    <div class="homescreen-wrapper search-section" ng-class="{ 'file-details-opened': fileDetails.isOpen }">

    <div class="section-wrapper"
         ng-show="searchResultsFiles.length">
        <div class="container header-container">
            <div sort-columns class="row"
                 sort-columns-options="columnsSections.searchResultsSources"></div>
        </div>

        <div class="container index-list-wrapper"
             ng-select-items="ngSelectSourcesSectionOptions">

            <div class="main-page-ds-pane" ng-show="isShowNewSourceFolder()">
                <add-folder-pane id="new-source-folder"
                                 on-enter="createNewSourceFolder(folder.name, selectedSourceFolder ? selectedSourceFolder.id : undefined)"
                                 on-cancel="cancelSourceFolderCreate()">
                </add-folder-pane>
            </div>

            <!-- no need this new-source-folder but lasso didn't work without it. See ng-select-items.js :337 -->

            <div class="main-page-ds-pane"
                 ng-repeat="u in searchResultsFiles | orderBy: '__index'"
                 ng-class="{'last': $last}"
                 on-finish-render="processRenderedSourceBreadcrumbs()"
                 context-menu="uploadedItemOptions($event)"
                 context-menu-options="sourceContextMenuOptions"
                 context-menu-open-event="contextmenu dblclick touchstart touchmove touchend">
                <main-page-ds-pane ds-drag="false"></main-page-ds-pane>
            </div>
        </div>
    </div>

    <div class="section-wrapper" ng-show="!loadingResults() && !getSearchResults().length">
        <div class="container header-container">
            <div sort-columns class="row"
                 sort-columns-options="columnsSections.noResults"></div>
        </div>
        <div class="container index-list-wrapper">
            <div class="main-page-ds-pane">
                <div class="col-md-12">
                    <div class="empty-folder-description">
                        <span>There are no items that match your search. <a ng-click="clearSearch()">Clear search</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <main-page-file-details ng-show="fileDetails.isOpen" ng-cloak></main-page-file-details>
</div>