<div>
    <div class="modal-header">
        <span class="modal-title no-overflow">{{getUploadsPopupTitle()}}</span>
        <div class="modal-buttons">
            <button type="button" ng-show="false">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"></path>
                </svg>
            </button>
            <button type="button"
                    ng-show="!uploadModal.minimized"
                    ng-click="minimizeUploadsPopup()">
                <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 24 24" focusable="false">
                    <path fill="#FFFFFF" d="M21.17,5.17L12,14.34l-9.17-9.17L0,8l12,12,12-12z"></path></svg>
            </button>
            <button type="button"
                    ng-show="uploadModal.minimized"
                    ng-click="maximizeUploadsPopup()">
                <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 24 24" focusable="false">
                    <path fill="#FFFFFF" d="M2.83,18.83L12,9.66l9.17,9.17L24,16,12,4,0,16z"></path></svg>
            </button>
            <button type="button"
                    ng-click="closeUploadsPopup()">
                <svg x="0px" y="0px" width="14px" height="14px" viewBox="0 0 10 10" focusable="false">
                    <polygon class="a-s-fa-Ha-pa" fill="#FFFFFF" points="10,1.01 8.99,0 5,3.99 1.01,0 0,1.01 3.99,5 0,8.99 1.01,10 5,6.01 8.99,10 10,8.99 6.01,5 "></polygon></svg>
            </button>
        </div>
    </div>
    <div class="modal-body" ng-show="!uploadModal.minimized">
        <div ng-repeat="item in uploader.queue" class="item"
             ng-class="{'pointed': item.datadoc || item.isDuplicate}"
             ng-click="openDatadoc(item)">
            <div class="item-content">
                <div>
                    <div class="icon" ng-class="{'uploaded': item.isUploaded && !item.isCancel}">
                        <div class="img {{getUploadItemIcon(item)}}"></div>
                    </div>
                </div>
                <div class="name-container">
                    <span class="no-overflow name" ng-class="{'uploaded': item.isUploaded && !item.isCancel && !item.verifying, 'compressed': getUploadItemStatus(item)}">
                        {{ item.file.name }}</span>
                    <span class="under-name-progress" ng-hide="(item.isCancel || item.isError)" >{{getUnderNameStatus(item)}}</span>
                </div>
                <span class="delimiter"
                      uib-tooltip="{{item.errorDescription || item.resultMessage}}"
                      tooltip-enable="{{!!item.errorDescription || !!item.resultMessage }}"
                      tooltip-append-to-body="true"
                      tooltip-placement="top-right"
                      tooltip-popup-delay="250"
                      tooltip-class="main-page-tooltip">{{getUploadItemStatus(item)}}</span>
                <div class="buttons">
                    <div ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                    <div class="modal-tooltip-error"
                         ng-show="(item.isCancel || item.isError) && !hovering"
                         uib-tooltip="{{item.errorDescription}}"
                         tooltip-enable="{{!!item.errorDescription}}"
                         tooltip-placement="top-right"
                         tooltip-append-to-body="true"
                         tooltip-popup-delay="250"
                         tooltip-class="main-page-tooltip">
                        <svg ng-switch="item.isDuplicate" class="a-s-fa-Ha-pa" width="24px" height="24px" viewBox="0 0 24 24"
                             fill="{{item.isDuplicate ? '#0F9D58' : '#db4437'}}">
                            <path ng-switch-when="true" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                            <path ng-switch-default d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                        </svg>
                    </div>
                        <div class="modal-tooltip-error"
                             ng-show="(item.isError || item.isCancel || item.stoppingIngest) && hovering"
                             ng-click="clearItem(item)"
                             uib-tooltip="Remove entry"
                             tooltip-enable="{{!!item.errorDescription}}"
                             tooltip-placement="left"
                             tooltip-append-to-body="true"
                             tooltip-popup-delay="250"
                             tooltip-class="main-page-tooltip">
                            <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" focusable="false">
                                <path class="a-s-fa-Ha-pa" fill="#000000" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2z M17,15.6L15.6,17L12,13.4L8.4,17L7,15.6l3.6-3.6   L7,8.4L8.4,7l3.6,3.6L15.6,7L17,8.4L13.4,12L17,15.6z"></path></svg>
                        </div>
                    </div>
                    <div class="modal-tooltip-uploading"
                         ng-show="item.isUploading || item.isSchemaDefining && !item.ingesting"
                         ng-click="item.cancel(); showItem(item)"
                         uib-tooltip="Cancel upload"
                         tooltip-enable="item.isUploading"
                         tooltip-placement="left"
                         tooltip-append-to-body="true"
                         tooltip-popup-delay="250"
                         tooltip-class="main-page-tooltip">
                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" focusable="false">
                            <path class="cancel-button" fill="#000000" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2z M17,15.6L15.6,17L12,13.4L8.4,17L7,15.6l3.6-3.6   L7,8.4L8.4,7l3.6,3.6L15.6,7L17,8.4L13.4,12L17,15.6z"></path></svg>
                    </div>

                    <div ng-mouseenter="hoveringDatadoc=true" ng-mouseleave="hoveringDatadoc=false">
                        <div ng-show="item.isSuccess">
                            <div ng-switch="item.ingesting">
                                <div ng-switch-when="IN_PROGRESS">
                                    <!--todo delete rounded progress bar from project-->
                                    <div class="modal-tooltip-ingesting"
                                         ng-click="showStopIngestModal($event, item)"
                                         ng-disabled="!item.datadoc.lastFlowExecutionTasks"
                                         ng-class="{'disabled': !item.datadoc.lastFlowExecutionTasks}"
                                         uib-tooltip="Stop ingesting"
                                         tooltip-enable="true"
                                         tooltip-placement="left"
                                         tooltip-append-to-body="true"
                                         tooltip-popup-delay="250"
                                         tooltip-class="main-page-tooltip">
                                        <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" focusable="false">
                                            <path class="cancel-button" fill="#000000" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2z M17,15.6L15.6,17L12,13.4L8.4,17L7,15.6l3.6-3.6   L7,8.4L8.4,7l3.6,3.6L15.6,7L17,8.4L13.4,12L17,15.6z"></path></svg>
                                    </div>
                                </div>
                                <div class="modal-tooltip-finished"
                                     ng-switch-when="FINISHED"
                                     uib-tooltip="Open Datadoc"
                                     tooltip-placement="left"
                                     tooltip-append-to-body="true"
                                     tooltip-popup-delay="250"
                                     tooltip-class="main-page-tooltip"
                                     ng-click="goToVisualization(item.datadoc, true)">
                                    <svg class="a-s-fa-Ha-pa" width="24px" height="24px" viewBox="0 0 24 24" fill="#0F9D58">
                                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                                    </svg>
                                </div>
                                <div class="modal-tooltip-failed"
                                     ng-switch-when="NO_INGEST"
                                     ng-if="!hoveringDatadoc"
                                     uib-tooltip="{{item.resultMessage}}"
                                     tooltip-enable="{{!!item.resultMessage}}"
                                     tooltip-placement="left"
                                     tooltip-append-to-body="true"
                                     tooltip-popup-delay="250"
                                     tooltip-class="main-page-tooltip">
                                    <svg ng-if="!hoveringDatadoc" class="a-s-fa-Ha-pa" width="24px" height="24px" viewBox="0 0 24 24" fill="#0F9D58">
                                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                                    </svg>
                                </div>
                                <div class="modal-tooltip-cancel"
                                     ng-show="(item.isError || item.isCancel || item.stoppingIngest) && hoveringDatadoc"
                                     ng-click="clearItem(item)"
                                     uib-tooltip="Remove entry"
                                     tooltip-enable="{{!!item.resultMessage}}"
                                     tooltip-placement="left"
                                     tooltip-append-to-body="true"
                                     tooltip-popup-delay="250"
                                     tooltip-class="main-page-tooltip">
                                    <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" focusable="false">
                                        <path class="a-s-fa-Ha-pa" fill="#000000" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2z M17,15.6L15.6,17L12,13.4L8.4,17L7,15.6l3.6-3.6   L7,8.4L8.4,7l3.6,3.6L15.6,7L17,8.4L13.4,12L17,15.6z"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress" ng-show="uploader.isHTML5">
                <div class="progress-bar" role="progressbar"
                     ng-show="item.isUploading || item.isSchemaDefining"
                     ng-style="{ 'width': item.progress + '%' }"></div>
                <div class="delimiter"
                     ng-show="!item.isUploading || !item.isSchemaDefining"></div>
            </div>
        </div>
    </div>
</div>


